@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
}
.login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.login-box h1 {
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #4cad50;
    margin-bottom: 50px;
    padding: 13px 0;
}
.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #4cad50;
}
.textbox i {
    width: 26px;
    float: left;
    text-align: center;
}
.textbox input {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
.btn {
    width: 100%;
    background: none;
    border: 2px solid #4cad50;
    color: white;
    padding: 5px;
    cursor: pointer;
    margin: 12px 0;
    transition: 0.5s;
}
.btn:hover {
    background: #4cad50;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    box-sizing: border-box;
    text-align: center;
    font-size: 23px;
    font-family: "Akaya Telivigala", sans-serif;
    padding: 8px 0;
}
footer p {
    margin: 0;
}
footer a {
    color: #4cad50;
    text-decoration: none;
    cursor: pointer;
}